<!DOCTYPE html>
<html>
  <head>
    <title> registration </title>
    </head>
    <body>
    <form>
        <table>
           <tr>
             <td class=a> <label>sing in up</label> </td> </tr>
             <tr>
             <td> <br>
               Name:
             </td>
             <td>
               <input type="text" size=30 placeholder="Name" name=""> <br>
             </td>
           </tr>
           <tr>
             <td>
               password :
  
             </td>
             <td>
             <input type="password" size=30  Placeholder= "password" name="">
            </td>
            </tr> <br> <br>
              <tr>
            <td>Re-trypassword</td>
              
            <td>
              <input type="password" size=30 placeholder="Re-type password">
            </td>
           </tr>
           <tr>
             <td>
               Gender:
             </td>
             <td>
               <input type="radio" name="Gender">Male
               <input type="radio" name="Gender">FeMale
             </td>
           </tr>
           <tr>
             <td>
              mphasis Email:
             </td>
             <td>
               <input type="mail" size=30  placeholder="mphasisEmail" name="">
             </td> <br>
           </tr>
           <tr>
             <td>
               Phone no:
             </td>
             <td>
               <select>
                 <option>836</option>
                 <option>833</option>
                 <option>848</option>
               </select>
               <input type="phone" size=30 placeholder="83306*****" name="">
             </td>
           </tr>
           <tr>
             <td>
               <input type=checkbox> accept all term and condition*
             </td> <br> <br> <br>
             </tr>
             
           <tr>
              <td>
                  Submit:
                    </td>
             <td>
                 
                    <input type="Submit" value="submit" name="">
                     </td>
                     </tr>
                   
                        <button (click)="submitForm()">Submit</button>
               
        </table>
      </form>
      </body>
      </html>
